/* The actual timeline (the vertical ruler) */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.timeline {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    animation: ease-out fadeIn 1s;
    padding-top: 30px;
    padding-bottom: 35px;
    transition: all 1s;
    padding-left: 40px;
}

@keyframes animTimeline {
    0% {
        opacity: 0;
        margin-left: 30%;
    }
    100% {
        opacity: 1;
        margin-left: 0%;
    }
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #333;
    top: 0;
    bottom: 0;
}

.timeline-item {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    opacity: 0;
    transition: cubic-bezier(0.215, 0.61, 0.355, 1) all 1s;
}

.timeline-item.visible {
    opacity: 1;
}

.timeline-item::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 35px;
    right: -18px;
    background-color: #333;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    transition: all 1.5s cubic-bezier(1, 0, 1, 0);
    background-image: url('assets/up-arrow.gif');
    background-repeat: no-repeat;
    background-size: 33px 33px;
    background-position: center;
}

.timeline-item.visible::after {
    opacity: 1;
    top: 32px;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 40px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #333 transparent transparent;
}

.right::after {
    left: -17px;
}

.content {
    background-color: #333;
    position: relative;
    color: white;
}

.content.selected .main-content {
    background-color: #d1d1d1;
    border: 1px dashed grey;
    padding: 19px
}

.content>h2 {
    color: rgb(105, 105, 105);
}

.content>p {
    color: grey;
}

.side-pane {
    background-color: white;
    position: fixed;
    width: 400px;
    top: 81px;
    right: -1000px;
    bottom: 19px;
    border-left: 2px solid rgb(223, 223, 223);
    transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}

.side-pane.visible {
    right: 20px;
}

.timeline-details {
    padding: 10px 0px;
    border-top: 1px solid #e2e2e2;
}

.timeline .main-content {
    padding: 20px;
}

.timeline-title {
    background-color: green;
    color: white;
    padding: 4px 8px;
}


.service-table {
    padding: 10px;
}

.service-table .label {
    color: grey;
    font-size: 90%;
}

.service-table .value {
    font-weight: bold;
    font-size: 110%;
}

.data-wrap {
    padding: 10px 0px;
    opacity: 0;
    position: relative;
    left: 300px;
    transition: all 0.5s;
}

.data-wrap.intro {
    opacity: 1;
    left: 0px;
}

.details-title {
    color: grey;
    font-size: 170%;
    margin-bottom: 20px;
}

.timeline-wrap {
    transition: background-color 1s;
    background-color: #121212;
}

.light-back {
    background-color: #eee;
}
